@media only screen and (max-width: 768px) {
    /* Styles for smaller screens */
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    /* Styles for smaller screens */
    body {
        font-size: 14px;
    }
}


/* ta era bo responsia*/

body {
    background-color: whitesmoke;
}

nav {
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px teal;
    background-color: teal;
}

nav a {
    color: white !important;
}

button {
    border-radius: 70px !important;
}


/*style count down */

#demo {
    background-color: #2d2d2d;
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color: yellow;
}


/*loyout xanan xana */

.layout {
    width: 1366px;
    height: 768px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}